* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 4, 36);
}

main {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    width: 90%;
    max-width: 750px;
    margin: auto;
    padding: 20px;
    display: block;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 5px 0px rgb(230, 226, 226);
}

h1 h2 {
    font-size: 2em;
    color: rgb(230, 226, 226);
}

#img-1 {
    width: 220px;
    height: auto;
    display: block;
    max-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(98%, -90%);
}

.sec {
    background-color: rgb(4, 4, 36);
    margin: 10px;
    padding: 10px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 20px 20px 20px 20px;
}

.title {
    margin: 0;
    padding: 10px;
}

.article {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img.lado {
    margin-top: 10px;
    width: 150px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(64, 147, 202);
}

.sec:hover {
    box-shadow: 0px 0px 9px gray;
}

a:hover {
    text-decoration: underline;
    color: gray;
}

/* para tamanhos de tela maiores que 600 pixels */
@media screen and (min-width: 600px) {
    #img-1 {
        width: 220px;
    }

    .article {
        max-width: 600px;
    }

    main {
        padding: 25px;
    }
}

/* para tamanhos de tela maiores que 900 pixels */
@media screen and (min-width: 900px) {
    main {
        width: 80%;
        max-width: 900px;
    }
}

/* para tamanhos de tela maiores que 1200 pixels */
@media screen and (min-width: 1200px) {
    main {
        width: 70%;
        max-width: 1200px;
    }
}
