* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 4, 36);
}

main {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    width: 950px;
    margin: auto;
    padding: 25px;
    box-shadow: 0px 0px 5px 0px rgb(230, 226, 226);
}

h1 {
    font-size: 2em;
    color: rgb(230, 226, 226);
}

h2 {
    font-size: 1.5em;
    color: rgb(230, 226, 226);
}

#txtn {
    font-size: 20px;
    text-align: left;
}

#img-1 {
    width: 300px;
    position: absolute;
    top: 5%;
    left: 63%;
}

.sec {
    background-color: rgb(4, 4, 36);
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

img.lado {
    margin-top: 10px;
    width: 150px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(64, 147, 202);
}

.sec:hover {
    box-shadow: 0px 0px 9px gray;
}

a:hover {
    text-decoration: underline;
    color: gray;
}