/* reset dos componentes dimensionais da página */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 4, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2em;
    margin: 15px;
    color: rgb(230, 226, 226);
}

div {
    padding: 7px;
    margin: 10px;
}

.sec {
    width: 86%;
    margin: 14px;
    padding: 14px;
    overflow: auto;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 5px 0px rgb(230, 226, 226);
    background-color: rgba(0, 0, 0, 0.329);
}

.txtn {
    margin: 20px;
}

.direction-list {
    margin: 35px 50px;
    
}

.position-img {
    margin: 30px;
    padding: 5px;
}

.conteudo-1, .conteudo-2 {
    background-color: rgb(4, 4, 36);
    border-radius: 20px 20px 20px 20px;
}

.conteudo-1, .conteudo-2, .txt{
    font-size: 1em;
    color: rgb(230, 226, 226);
}

.txt, .txtn, .direction-list, .conteudo-1, .conteudo-2 {
    max-width: 1000px;
    margin-right: 0px;
}

.conteudo-1:hover, .conteudo-2:hover {
    box-shadow: 0px 0px 9px gray;
    transition: box-shadow 0.3s ease;
}

@media screen and (min-width: 600px) {

    .article {
        max-width: 600px;
    }

    .section {
        padding: 25px;
    }
}

/* para tamanhos de tela maiores que 900 pixels */
@media screen and (min-width: 900px) {
    .section {
        width: 80%;
        max-width: 900px;
    }
}

/* para tamanhos de tela maiores que 1200 pixels */
@media screen and (min-width: 1200px) {
    .section {
        width: 70%;
        max-width: 1200px;
    }
}
